
body {
  background-color: #282c34;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.appBody {
  background-color: #282c34;
  /* min-height: 100vh; */
  width: 60%;
  /* display: inline; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  margin-left: auto;
  margin-right: auto;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.actionBtn {
  font-size: 12px;
  /* margin: none; */
  padding: 4px 8px;
}

@media only screen and (max-width:480px) { 
  button {
    width: 100%;
  }

  .appBody {
    display: inline;
  }

  .actionBtn {
    font-size: 12px;
    /* margin: none; */
    padding: 4px 8px;
  }

}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #285467; */
  /* padding: 0px; */
  text-align: left;
}


tr:hover {background-color: #454754;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #454754;
  color: white;
}