<!DOCTYPE html>

<html>

<head>
    <title>vLib</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>{{numberOfBooks}}</p>

        <p>Type title or author</p>

        <form id="searchForm">
            <input id="searchInput" placeholder="Title">
            <button>Search</button>
        </form>

        <p id="loadingMessage"></p>
        <table id="bookTable" class="table table-bordered table-hover">
        </table>
        
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>